.meta-nav
  .menu
    %ul
      %li.first= link_to_unless_current 'Dashboards', '/dashboard'
      %li= link_to_unless_current 'Users', admin_users_path
      %li= link_to_unless_current 'News Items', admin_news_items_path
      %li= link_to_unless_current 'Presentations', admin_presentations_path
      %li= link_to_unless_current 'Speakers', admin_speakers_path
      %li= link_to_unless_current 'Sponsors', admin_sponsors_path
      %li= link_to_unless_current 'Feedback', admin_feedbacks_path